@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One);
@import url(https://fonts.googleapis.com/css?family=Special+Elite);
@import url(https://fonts.googleapis.com/css?family=Coustard);
@import url(https://fonts.googleapis.com/css?family=Numans);
@import url(https://fonts.googleapis.com/css?family=Comfortaa);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);
@import url(https://fonts.googleapis.com/css?family=Arvo);
@import url(https://fonts.googleapis.com/css?family=Abril+Fatface);

/* Font of index.html */

.welcome h1 {
    font-family: "Comfortaa";
    text-align: center;
    color: white;
}

.button a{
    font-family: "Comfortaa";
    font-size: 3vmin;
    color: black;
    text-decoration: none;
    background-color: rgb(63, 191, 191);
    border-radius: 30px;
    text-align: center;
    padding : 13px;
}

.button p {
    display: inline-block;
    margin: 50px 40% 0 40%;
}
.button a:hover {
    opacity: 0.5;
}

